---
layout: default
title: Документация
---

<article class="p-page">
    <h2>Документация:</h2>
    <ol class="b-docs-ls">
        {% for post in site.posts reversed %}
            <li>
                <a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a>
                {% if post.translated == false %}
                    <small>(В процессе перевода)</small>
                {% else %}
                    {% if post.proofread == false %}
                      <small>(Вычитка)</small>
                    {% endif %}
                {% endif %}
            </li>
        {% endfor %}
    </ol>
</article>
