<header class="l-header">
    <div class="l-container">
        <a class="b-logo" href="{{ site.baseurl }}/" title="{{ site.title }}">{{ site.title }}</a>
        <span class="b-logo-sub">По-русски.</span>
        <span class="b-logo-version">{{ site.version }}</span>
    </div>
</header>
<nav class="n-nav">
    <div class="l-container">
        <a href="{{ site.baseurl }}/">Документация</a>
        <a href="http://marionettejs.com">Официальный сайт</a>
        <a href="http://marionettejs.com/annotated-src/backbone.marionette.html">Исходный код с аннотациями</a>
        <a href="http://marionettejs.com/#download">Скачать</a>
        <a href="{{ site.baseurl }}/about/">О marionette.js</a>
    </div>
</nav>