<header class="header">
    <div class="container">
        <a class="logo" href="{{ site.baseurl }}/" title="{{ site.title }}">{{ site.title }}</a>
        <span class="sub-logo">По-русски.</span>
        <span class="version">{{ site.version }}</span>
    </div>
</header>
<nav class="nav">
    <div class="container">
        <a href="{{ site.baseurl }}/">Документация</a>
        <a href="http://marionettejs.com">Официальный сайт</a>
        <a href="http://marionettejs.com/docs/backbone.marionette.html">Исходный код с аннотациями</a>
        <a href="http://marionettejs.com/#download">Скачать</a>
        <a href="{{ site.baseurl }}/about/">О marionette.js</a>
    </div>
</nav>