{% if page.previous or page.next %}
    <div class="page-prevnext">
        {% if page.previous %}
            <div class="page-prev">
                <span>&larr;</span><a rel="prev" href="{{ page.previous.url }}">{{ page.previous.title }}</a>
            </div>
        {% endif %}
        {% if page.next %}
            <div class="page-next">
                <a rel="next" href="{{ page.next.url }}">{{ page.next.title }}</a><span>&rarr;</span>
            </div>
        {% endif %}
    </div>
{% endif %}