$color-black: #000000;
$color-blue: #00a6fc;
$color-blue-hover: #0084c9;
$color-blue-light: #e3ecf1;
$color-blue-dark: #273647;
$color-gray-65: #656565;
$color-gray-81: #818181;
$color-green: #1abc9c;
$color-green-hover: #17a689;
$color-red: #cf2227;
$color-white: #ffffff;

$color-body: $color-white;
$color-text: $color-gray-65;
$color-link: $color-blue;
$color-link-hover: $color-blue-hover;