.layout {
    @include size(100%);
    height: auto !important;
    min-height: 100%;

    .push {
        height: $footer-height;
        @include clearfix();
    }
}


.header {
    position: relative;
    background-color: $color-blue-light;
    border-bottom: 1px solid darken($color-blue-light, 10%);
    overflow: hidden;
}

.footer {
    height: $footer-height;
    margin-top: -$footer-height;
    background-color: $color-blue-light;
    box-shadow: 0 -1px 0 darken($color-blue-light, 10%);
    line-height: $footer-height;
    font-size: .875rem;
    text-align: right;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 3rem;
    padding-right: 3rem;
}

@media (min-width: 56rem) {
    .container {
        max-width: 48rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media (min-width: 62rem) {
    .container {
        max-width: 56rem;
    }
}

@media (min-width: 75rem) {
    .container {
        max-width: 62rem;
    }
}