.b-pages {
    position: relative;
    margin: 2rem 0;
    @include clearfix();
}

.b-pages-previous,
.b-pages-next {
    width: 45%;
    font-weight: bold;

    span {
        position: absolute;
    }
}

.b-pages-previous {
    float: left;

    span {
        left: -1.5rem;
    }
}

.b-pages-next {
    float: right;
    text-align: right;

    span {
        right: -1.5rem;
    }
}