.b-logo {
    display: block;
    margin: 1rem auto 0;
    @include is-indented();
    @include size(200px, 250px);
    @include background('logo.png');
    border: none;
}

.b-logo-sub {
    text-align: center;
    display: block;
    margin-bottom: 1em;
    font-size: 1.5rem;
    font-weight: bold;
}

.b-logo-version {
    @include absolute(top 1rem left 50%);
    margin-left: -7rem;
    background: $color-blue;
    color: $color-body;
    @include size(3rem);
    border-radius: 50%;
    line-height: 3rem;
    text-align: center;
    font-weight: bold;
}